<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi</title>

    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div class="paisSektsioon">
        <div class="container">
            <%- include ("../partials/matka_pais.ejs") %>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8 paisSektsioon-pealkirjad">
                    <div class="rida">
                        <h2>Matkaklubi</h2>
                        <img class="liblikas1" src="./assets/Butterfly.png" alt="">
                    </div>
                    <div class="rida">
                        <img src="./assets/Butterfly2.png" class="liblikas2" alt="">
                        <h1>
                            Liiguta ennast
                        </h1>
                    </div>
                    <div class="rida">
                        <h3>
                            Terves kehas terve vaim
                        </h3>
                    </div>
                </div>
                <div class="matkajapilt col-12 col-md-6 col-lg-4">
                    siia tuleb matkaja pilt
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-3" id="matkaandmed">
        <div class="row">
            <% for (let i = 0; i < matkad.length; i++) { %>
                <div class="card col-md-4 pt-4">
                    <img src="<%= matkad[i].pildiUrl %>" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title"><%= matkad[i].nimetus %></h4>
                        <p class="card-text">
                            <%= matkad[i].kirjeldus %>
                        </p>
                        <a href="/registreerumine/<%= matkad[i].id %>" class="btn btn-primary" >Registreeru matkale</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    
</body>
</html>