<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi - kontakt</title>
    
    <%- include ("../partials/header.ejs") %>

</head>
<body>
    <div class="container">
        
        <%- include ("../partials/matka_pais.ejs") %>

        <div class="uudised-sisu">
            <h2><%= uudis.pealkiri %></h2>
            <div class="uudis-pilt">
                <img src="<%= uudis.pildiUrl %>" alt="">
            </div>
            <div class="uudis-sisu">
                <%- uudis.tekst %>
            </div>
        </div>
    </div>
    
</body>
</html>