<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi - kontakt</title>
    
    <%- include ("../partials/header.ejs") %>
    
    <script src="./matkaklubi.js"></script>
</head>
<body>
    <div class="container">
        
        <%- include ("../partials/matka_pais.ejs") %>

        <div class="uudised-sisu">
            <h2>Matkaklubi uudised</h2>
            <div class="row">
                <% for (let i = 0; i < uudised.length; i++ ) { %>
                    <div class="col-md-4 uudis">
                        <img src="<%= uudised[i].pildiUrl %>" alt="">
                        <h3 class="uudis-pealkiri">
                            <%= uudised[i].pealkiri %>
                        </h3>
                        <div class="uudis-sisu">
                            <%- uudised[i].kokkuvote %>
                        </div>
                        <div>
                            <a class="button" href="/uudis/<%= i %>">Loe edasi ...</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
</body>
</html>